.field {
    height: 100vh;
    width: 100%;
    background: no-repeat url('./../../assets/img/table.jpg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
position: relative;
    img {
        position: absolute;
        height: 200px;
        top: 40px;
    }

}
.topCard {
    cursor: pointer;
    right: 70px;
    transition: alll 125ms ease-in-out;
    &:hover {
        transform: scale(1.1) translate(-10px);
    }
}

.pickCard {
    right: 70px;
    animation: pickCardAnimation 1.5s forwards;
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1.1) rotateY(-90deg);
    }
    50% {
        transform: scale(1.7) rotateY(0deg);
    }
    100% {
        transform: scale(1.1) translateX(180px) translateY(-220px) rotate(20deg);

    }
}

.playedCard {
    right: 70px;
    transform: scale(1.1) translateX(180px) translateY(-220px) rotate(20deg);
}

.playerContainer {
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
}

.btnAdd {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.gameInfoContainer {
    position: absolute;
    right: 10%;
    top: 55%;
}

